<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="expires" content="43200"/>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="llP1zrnXNTrBcYiM85A8mOuktEBkAJaXuu0ag1EaayA" />
	
	{% block seo %}
	{% endblock seo %}


    {% load static %}
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="https://internationalparts.mx/static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://internationalparts.mx/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://internationalparts.mx/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://internationalparts.mx/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://internationalparts.mx/static/css/themify-icons.css">
    <link rel="stylesheet" href="https://internationalparts.mx/static/css/style.css">    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Bienvenido a MRO Distribuidora</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                <div class="short_contact_list">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-envelope"></i> ventas@mrodistribuidora.com</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-phone"></i> +52 (33) 333 432 67</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social_media_links">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img src="https://internationalparts.mx/static/img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="{% url 'index' %}">Inicio</a></li>
                                            <li><a href="{% url 'index' %}#services">Servicios</a></li>
                                            <li><a href="{% url 'productos' %}">Productos</a></li>
                                            <li><a href="{% url 'index' %}#industries">Industrias</a></li>
                                            <li><a href="{% url 'index' %}#contact">Contacto</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    {% block content %}
    {% endblock content %}

    <div class="contact_form_quote" id="contact" style="padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="form_wrap">
                        <h3>Contacto</h3>
                        <form id="formulario" method="POST" onSubmit="event.preventDefault(); send()">
                            <input type="text" name="name" placeholder="Su Nombre" required="">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <input type="email" name="email" placeholder="Email" required="">
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <input type="text" name="phone" placeholder="Telefono">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <input type="text" name="numberpart" placeholder="Numero de Parte" required="">
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <input type="text" name="manufacturer" placeholder="Fabricante" required="">
                                </div>
                            </div>                    
                            <textarea name="message" id="" cols="30" rows="10" placeholder="Mensaje / Descripción / Cantidad" required=""></textarea>
                            <button type="submit" id="formButton" class="boxed-btn3">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="contact_thumb">
                        <img src="https://internationalparts.mx/static/img/banner/contact_thumb.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer start -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                        	Guadalajara, Jalisco, Av. Isla Terranova #4285 Int. #17 C.P. 44950
                        	<br>
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | MRO Distribuidora</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="alert" class="alert alert-success fade show" role="alert" style="position: fixed;bottom: 10px;z-index: 999;left: 10px;display: none;">
        <div class="alert-icon"><i class="la la-check"></i></div>
        <div class="alert-text">Formulario enviado con exito!</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--/ footer end  -->

    <!-- link that opens popup -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/590cebcf64f23d19a89b0fa1/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- JS here -->
    <script src="https://internationalparts.mx/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://internationalparts.mx/static/js/bootstrap.min.js"></script>
    <script src="https://internationalparts.mx/static/js/owl.carousel.min.js"></script>
    <script src="https://internationalparts.mx/static/js/jquery.slicknav.min.js"></script>
    <script src="https://internationalparts.mx/static/js/main.js"></script>
    <script type="text/javascript">
        function showProducts() {
            document.getElementById ('more_products').style = '';
        }
        function send() {
document.getElementById('alert').style = 'position: fixed;bottom: 10px;z-index: 999;left: 10px;';

const data = new FormData(document.getElementById('formulario'));
fetch('https://internationalparts.mx/mail/index.php', {
   method: 'POST',
   body: data
})
.then(function(response) {
   if(response.ok) {
       return false;
   } else {
       throw "Error en la llamada Ajax";
   }

})
.then(function(texto) {
   console.log(texto);
})
.catch(function(err) {
   console.log(err);
});

document.getElementById('formButton').disabled = true;
setTimeout(funcion,8000);

}

function funcion(){
  if (document.getElementById('alert')) {
    document.getElementById('alert').style.display = 'none';
  }
}
    </script>
</body>

</html>
