<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MRO Distribuidora</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Bienvenido a MRO Distribuidora</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                <div class="short_contact_list">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-envelope"></i> ventas@mrodistribuidora.com</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-phone"></i> +52 (33) 333 432 67</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social_media_links">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="index.html">home</a></li>
                                            <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="case_details.html">case details</a></li>
                                                        <li><a href="about.html">about</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="study.html">Case study</a></li>
                                            <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">blog</a></li>
                                                    <li><a href="single-blog.html">single-blog</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a  href="#">Get a Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Servicios</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-truck" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                        </div>
                        <h3>Entrega en planta</h3>
                        <p>Entregamos en planta.</p>
                        <br>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-import" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                        </div>
                        <h3>Entrega en frontera</h3>
                        <p>Realizamos entregas en frontera.</p>
                        <br>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-world" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                        </div>
                        <h3>Entrega Ex-works</h3>
                        <p>Realizamos entregas en el país de origen del producto.</p>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-headphone-alt" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                        </div>
                        <h3>Atención Perzonalizada</h3>
                        <p>Nuestros asesores estarán disponibles cuando usted los necesite.</p>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-credit-card" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                        </div>
                        <h3>Plan de crédito</h3>
                        <p>Contamos con planes de crédito para los clientes que lo requieren.</p>
                        <br>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <i class="ti-bag" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                            
                        </div>
                        <h3>Stock preventivo</h3>
                        <p>Ofrecemos un plan de stock preventivo para entrega inmediata.</p>
                        <br>
                        <a href="#" class="learn_more">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <!-- counter_area  -->
    <div class="counter_area counter_bg_1 overlay_03">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/group.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">200</span> <span> +</span> </h3>
                        <p>Team Members</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/cart.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">97</span> <span>%</span> </h3>
                        <p>Business Success</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/heart.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">5628</span></h3>
                        <p>Happy Client</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/respect.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">5637</span> </h3>
                        <p>Business Done</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /counter_area  -->

    <!-- case_study_area  -->
    <div class="case_study_area">
        <div class="container">
            <div class="border_bottom">
                    <div class="row">
                            <div class="col-xl-12">
                                <div class="section_title text-center mb-40">
                                    <h3>Productos</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="case_active owl-carousel">
                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/1.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Reductores</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/2.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Motores</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/3.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Contactores</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="case_active owl-carousel">
                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/4.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Sensores</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/5.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Componentes Electrónicos</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/6.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Cables</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="more_products" style="display: none;">
                                <div class="case_active owl-carousel">
                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/7.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Tornos</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/8.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Fresadoras</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/9.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Calentadores</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="case_active owl-carousel">
                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/10.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Relevadores</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/11.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Temporizadores</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="single_case" style="border: 1px solid #E8E8E8;">
                                        <div class="case_thumb">
                                            <img src="{% static 'img/case/12.jpg' %}" alt="">
                                        </div>
                                        <div class="case_heading" style="text-align: center;">
                                            <h3>
                                                <a href="#">Válvulas</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="more_close_btn text-center">
                                    <a href="#more_products" class="boxed-btn3-line" onclick="showProducts()">Mas productos</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- /case_study_area  -->


    <div class="testimonial_area overlay ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                <div class="quote">
                                    <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                </div>
                                <p>
                                    Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor 
                                    <br> 
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  
                                    <br>
                                    Fusce ac mattis nulla. Morbi eget ornare dui. 
                                </p>
                                <div class="testmonial_author">
                                    <div class="thumb">
                                        <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                    </div>
                                    <h3>Robert Thomson</h3>
                                    <span>Business Owner</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- team_area  -->
    <div class="team_area">
            <div class="container">
                <div class="border_bottom">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title mb-40 text-center">
                                <h3>
                                    Industrias
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/1.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Industria Electrica</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/2.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Industria Petrolera</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/3.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Industria Automotriz</h3>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/4.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Industria Aeronáutica</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/5.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Industria electrónica</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_team">
                                <div class="team_thumb">
                                    <img src="{% static 'img/team/6.jpg' %}" alt="">
                                </div>
                                <div class="team_info text-center">
                                    <h3>Y muchas más...</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <!-- /team_area  -->

    <div class="contact_form_quote">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="form_wrap">
                            <h3>Contacto</h3>
                            <form action="#">
                                <input type="text" placeholder="Su Nombre" >
                                <input type="email" placeholder="Email" >
                                <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                                <button class="boxed-btn3">Enviar</button>
                            </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="contact_thumb">
                        <img src="{% static 'img/banner/contact_thumb.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static 'img/footer_logo.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">ventas@mrodistribuidora.com</a><br>
                                    +52 (33) 333 432 67<br>
                                    Av. Isla Terranova #4285 Int. #17
                                    C.P. 44950, Guadalajara, Jalisco
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Services
                            </h3>
                            <ul>
                                <li><a href="#">Marketing & SEO</a></li>
                                <li><a href="#"> Startup</a></li>
                                <li><a href="#">Finance solution</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Travel</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="#">Appointment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget">
                                    <h3 class="footer_title">
                                            Subscribe
                                    </h3>
                                    <form action="#" class="newsletter_form">
                                        <input type="text" placeholder="Enter your mail">
                                        <button type="submit">Subscribe</button>
                                    </form>
                                    <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.j' %}s"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        function showProducts() {
            document.getElementById ('more_products').style = '';
        }
    </script>
</body>

</html>