{% extends "general/app.html" %}

{% block content %}

{% load static %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>
                                Proveemos refacciones
                                <br>
                                que tu empresa necesita
                            </h3>
                            <div class="video_service_btn">
                                <a href="#products" class="boxed-btn3">Productos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Servicios</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <i class="ti-truck" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                    </div>
                    <h3>Entrega en planta</h3>
                    <p>Entregamos en planta.</p>
                    <br>
                    <br>
                    <a href="#" class="learn_more">Ver mas</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <i class="ti-credit-card" style="font-size: 35px;line-height: 94px;color: #fff;"></i>
                    </div>
                    <h3>Plan de crédito</h3>
                    <p>Contamos con planes de crédito para los clientes que lo requieren.</p>
                    <br>
                    <a href="#" class="learn_more">Ver mas</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <i class="ti-bag" style="font-size: 35px;line-height: 94px;color: #fff;"></i>

                    </div>
                    <h3>Stock preventivo</h3>
                    <p>Ofrecemos un plan de stock preventivo para entrega inmediata.</p>
                    <br>
                    <a href="#" class="learn_more">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->

<!-- counter_area  -->
<div class="counter_area counter_bg_1 overlay_03">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/group.svg' %}" alt="">
                    </div>
                    <h3> <span class="counter">200</span> <span> +</span> </h3>
                    <p>Team Members</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/cart.svg' %}" alt="">
                    </div>
                    <h3> <span class="counter">97</span> <span>%</span> </h3>
                    <p>Business Success</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/heart.svg' %}" alt="">
                    </div>
                    <h3> <span class="counter">5628</span></h3>
                    <p>Happy Client</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/respect.svg' %}" alt="">
                    </div>
                    <h3> <span class="counter">5637</span> </h3>
                    <p>Business Done</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /counter_area  -->

<!-- case_study_area  -->
<div class="case_study_area" id="products">
    <div class="container">
        <div class="border_bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-40">
                        <h3>Productos</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="case_active owl-carousel">
                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/1.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Reductores</a>
                                </h3>
                            </div>
                        </div>

                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/2.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Motores</a>
                                </h3>
                            </div>
                        </div>

                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/3.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Contactores</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="case_active owl-carousel">
                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/4.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Sensores</a>
                                </h3>
                            </div>
                        </div>

                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/5.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Componentes Electrónicos</a>
                                </h3>
                            </div>
                        </div>

                        <div class="single_case" style="border: 1px solid #E8E8E8;">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/6.jpg' %}" alt="">
                            </div>
                            <div class="case_heading" style="text-align: center;">
                                <h3>
                                    <a href="#">Cables</a>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div id="more_products" style="display: none;">
                        <div class="case_active owl-carousel">
                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/7.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Tornos</a>
                                    </h3>
                                </div>
                            </div>

                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/8.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Fresadoras</a>
                                    </h3>
                                </div>
                            </div>

                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/9.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Calentadores</a>
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="case_active owl-carousel">
                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/10.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Relevadores</a>
                                    </h3>
                                </div>
                            </div>

                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/11.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Temporizadores</a>
                                    </h3>
                                </div>
                            </div>

                            <div class="single_case" style="border: 1px solid #E8E8E8;">
                                <div class="case_thumb">
                                    <img src="{% static 'img/case/12.jpg' %}" alt="">
                                </div>
                                <div class="case_heading" style="text-align: center;">
                                    <h3>
                                        <a href="#">Válvulas</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_close_btn text-center">
                        <a href="#more_products" class="boxed-btn3-line" onclick="showProducts()">Mas productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /case_study_area  -->


<div class="testimonial_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                            </div>
                            <p>
                                Escuchamos atentamente a nuestros clientes y nos comprometemos a mejorar diariamente
                                <br style="display: block;">
                                a fin de satisfacer a plenitud las necesidades de todos nuestros clientes.
                            </p>
                            <div class="testmonial_author">
                                <h3>MRO Distribuidora</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- team_area  -->
<div class="team_area" id="industries">
    <div class="container">
        <div class="border_bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-40 text-center">
                        <h3>
                            Industrias
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Industria Electrica</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/2.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Industria Petrolera</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/3.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Industria Automotriz</h3>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/4.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Industria Aeronáutica</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/5.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Industria electrónica</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/6.jpg' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Y muchas más...</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /team_area  -->

<div class="contact_form_quote" id="contact" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="form_wrap">
                    <h3>Contacto</h3>
                    <form action="#">
                        <input type="text" placeholder="Su Nombre" required="">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <input type="email" placeholder="Email" required="">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <input type="text" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <input type="text" placeholder="Numero de Parte">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <input type="text" placeholder="Fabricante">
                            </div>
                        </div>                    
                        <textarea name="#" id="" cols="30" rows="10" placeholder="Mensaje / Descripción / Cantidad" required=""></textarea>
                        <button class="boxed-btn3">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="contact_thumb">
                    <img src="{% static 'img/banner/contact_thumb.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}