{% extends "general/app.html" %}

{% block content %}

{% load static %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Numero de Parte: {{comeisu.cla_isu}}</h3>
       </div>
    </div>
 </div>
</div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style="padding-bottom: 0;margin-bottom: 100px">
  <div class="container" style="border-bottom: 1px solid #E8E8E8;">
    <div class="row">
      <div class="col-lg-12 posts-list">

        <div class="row">
          <div class="col-lg-4 posts-list">
            <img src="{% static 'img/no_img.jpg' %}" alt="" style="width: 100%;">
          </div>
          
          <div class="col-lg-8 posts-list">
            <div class="single-post">
              <div class="section-top-border" style="padding: 0;">
                <div class="progress-table-wrap" style="overflow-x: hidden;">
                  <div class="progress-table" style="width: 100%;min-width: 100%;">
                    <div class="table-head">
                      <div class="serial" style="width: 100%;">Numero de Parte:</div>
                    </div>
                    <div class="table-row">
                      <div class="serial" style="width: 100%">{{comeisu.cla_isu}}</div>
                    </div>
                    <div class="table-row">
                      <div class="serial" style="width: 100%">
                        Cantidad: en Stock Verifica disponibilidad
                        <br>
                        Precio: Solicita tu cotización para obtener el precio
                      </div>
                    </div>

                     

                    <div class="table-head">
                      <div class="serial">
                        Descripcion:
                      </div>
                    </div>
                    <div class="table-row">
                      <div class="serial" style="width: 100%">
                        {{comeisu.des_isu}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      
      </div>
    </div>
  </div>
</section>
   <!--================ Blog Area end =================-->
   {% endblock content %}