{% extends "general/app.html" %}

{% block content %}

{% load static %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3>Detalles del Producto: USB-RS485-WE-1800-B</h3>
       </div>
    </div>
 </div>
</div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style="padding-bottom: 0;">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
         

               <div class="section-top-border" style="padding: 0;">
                  <div class="progress-table-wrap" style="overflow-x: hidden;">
                     <div class="progress-table" style="width: 100%;min-width: 100%;">
                        <div class="table-head">
                           <div class="serial">Nombre:</div>
                        </div>
                        <div class="table-row">
                           <div class="serial" style="width: 100%">USB-RS485-WE-1800-B</div>
                        </div>

                        <div class="table-head">
                           <div class="serial">Descripcion:</div>
                        </div>
                        <div class="table-row">
                           <div class="serial" style="width: 100%">Cables USB / Cables IEEE 1394 USB to RS485 Embeded Conv Wire End 1.8m</div>
                        </div>

                        <div class="table-head">
                           <div class="serial" style="width: 33%">dea_isu:</div>
                           <div class="serial" style="width: 33%">fa2_isu:</div>
                           <div class="serial" style="width: 33%">Unidad</div>
                        </div>
                        <div class="table-row">
                           <div class="serial" style="width: 33%">Condicion: Nuevo  Fabricante: FTDI</div>
                           <div class="serial" style="width: 33%">PZA</div>
                           <div class="serial" style="width: 33%">12,0000</div>
                        </div>


                        <div class="table-head">
                           <div class="serial" style="width: 33%">uni_sat:</div>
                           <div class="serial" style="width: 33%">cls_sat:</div>
                           <div class="serial" style="width: 33%">est_isu</div>
                        </div>
                        <div class="table-row">
                           <div class="serial" style="width: 33%">H87</div>
                           <div class="serial" style="width: 33%">01010101</div>
                           <div class="serial" style="width: 33%">A</div>
                        </div>                        
                     </div>
                  </div>
               </div>


            </div>
            <div class="navigation-top">
               <div class="d-sm-flex justify-content-between text-center">
                  
               </div>
               <div class="navigation-area">
                  <div class="row">
                     <div
                     class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                     
                     </div>
                     <div
                     class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                  
                  
                  
                  </div>
               </div>
            </div>
         </div>
      
      
      
      </div>
   <div class="col-lg-4">
      <div class="blog_right_sidebar">
         <aside class="single_sidebar_widget search_widget">
            <form action="#">
               <div class="form-group">
                  <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder='Search Keyword'
                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                     <div class="input-group-append">
                        <button class="btn" type="button"><i class="ti-search"></i></button>
                     </div>
                  </div>
               </div>
               <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
               type="submit">Search</button>
            </form>
         </aside>
      
         <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>
            <form action="#">
               <div class="form-group">
                  <input type="email" class="form-control" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
               </div>
               <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
               type="submit">Subscribe</button>
            </form>
         </aside>
      </div>
   </div>
</div>
</div>
</section>
   <!--================ Blog Area end =================-->
   {% endblock content %}